{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container margin-bottom margin-up">
        <div class="row">
            <h3>{% if owner %}
                    My Profile
                {% else %}
                    {{ profile.user.username }} Profile
                {% endif %}
            </h3>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" height="200px" width="200px"  border="1px" align="left">
            {%  else %}
                <img src="{% static "images/no-avatar.gif" %}" height="200px" width="200px"  border="1px" align="left">
            {% endif %}

            <div class="col-lg-3 col-lg-offset-0">
                <p><strong>First name:</strong> {{ profile.first_name }}</p>
                <p> <strong>Last name:</strong> {{ profile.last_name }}</p>
                <p><strong>Birthday:</strong> {{ profile.birthday }}</p>

                <br>
                <p><strong>About me:</strong> </p>
                <p>{{ profile.about_user }}</p>

                <p><strong>Last login:</strong> {{ profile.user.last_login }}</p>
            </div>
        </div>
    </div>

    <br>

    {% if owner %}
        <!-- Кнопки редактирования профиля и загрузки изображений -->
        <div class="container">
            <div class=" col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'edit_profile' %}"><input class="btn btn-warning" type="submit" value="Edit profile"></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'upload_image' %}"><input class="btn btn-primary" type="submit" value="Upload image"></a>
            </div>
        </div>
    {% endif %}

    <!-- Модальное окно -->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-title">Просмотр изображения</div>
          </div>
          <div class="modal-body">
            <img class="img-responsive center-block" src="" alt="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Галерея Thumbnails из изображений -->
    <div class="container margin-top">
        <div class="row">
            {% for im in image_list %}
                <!-- n-ое Изображение -->
                {% if owner and not im.public %} <!-- owner and private image -->
                    <div class="col-sm-6 col-md-6 col-lg-3 margin-image">
                        <a href="{{ im.image.url }}" class="thumbnail">
                           <img src="{{ im.image.url }}" alt="user image">
                        </a>

                        <p>{{ im.creation_date }},
                            {% if im.public %}
                                <strong>public image</strong>
                            {% else %}
                                <strong>private image</strong>
                            {% endif %}
                        </p>

                        <!-- <div class="inline-group">

                        </div> -->
                        <div class="row margin-image">
                            <div class="col-md-2 ">
                                <a href="{{ im.image.url }}" target="_blank">
                                    <input class="btn btn-success" type="submit" value="Full-size image">
                                </a>
                            </div>

                            {% if owner %}
                                <div class="col-md-2 col-md-offset-4">
                                    <form action="{% url 'delete_image' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="image_id" value="{{ im.id }}">
                                        <input class="btn btn-danger" type="submit" value="Delete image">
                                    </form>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                {% if im.public %} <!-- public image for all users -->
                    <div class="col-sm-6 col-md-6 col-lg-3 margin-image">
                        <a href="{{ im.image.url }}" class="thumbnail">
                           <img src="{{ im.image.url }}" alt="user image">
                        </a>

                        <p>{{ im.creation_date }},
                            {% if im.public %}
                                <strong>public image</strong>
                            {% else %}
                                <strong>private image</strong>
                            {% endif %}
                        </p>

                        <!-- <div class="inline-group">

                        </div> -->
                        <div class="row margin-image">
                            <div class="col-md-2 ">
                                <a href="{{ im.image.url }}" target="_blank">
                                    <input class="btn btn-success" type="submit" value="Full-size image">
                                </a>
                            </div>

                            {% if owner %}
                                <div class="col-md-2 col-md-offset-4">
                                    <form action="{% url 'delete_image' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="image_id" value="{{ im.id }}">
                                        <input class="btn btn-danger" type="submit" value="Delete image">
                                    </form>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>

    <br>
    <br>

{% endblock %}