{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3>The Main Gallery</h3>
        </div>
    </div>

    <!--Классическая галерея Fancybox с подключением Twitter Bootstrap -->
    <div class="container">
        <div class="row">
            {% for im in image_list %}
                <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                    <a class="fancyimage" rel="group" href="{{ im.image.url }}">
                      <img class="img-responsive" src="{{ im.image.url }}" />
                    </a>
                    <p>This is Owner of Photo</p>
                </div>
            {% endfor %}
        </div>
        <br>
  </div>
{%  endblock %}