{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "fancybox/jquery.fancybox.css" %}"/>
    <style>
        .thumb img {
          filter: none; /* IE6-9 */
          -webkit-filter: grayscale(0);
          border-radius:5px;
          background-color: #fff;
          border: 1px solid #ddd;
          padding:5px;
        }
        .thumb img:hover {
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(1);
        }
        .thumb {
          padding:5px;
        }
    </style>
</head>

<body>
    <!-- Меню navbar -->
    <nav class="navbar navbar-default">
      <!-- Бренд и переключатель, который вызывает меню на мобильных устройствах -->
        <div class="navbar-header">
        <!-- Кнопка с полосочками, которая открывает меню на мобильных устройствах -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Бренд или логотип фирмы (обычно содержит ссылку на главную страницу) -->
        <a href="/" class="navbar-brand">Photo Gallery</a>
        </div>
      <!-- Содержимое меню (коллекция навиг  ионных ссылок, формы и др.) -->
        <div class="collapse navbar-collapse" id="main-menu" >
          <!-- Список ссылок, расположенных слева -->
            <ul class="nav navbar-nav">
              <!--Элемент с классом active отображает ссылку подсвеченной -->
              <li class="active"><a href="/">Главная <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Новости</a></li>
              <li><a href="#">Статьи</a></li>
            </ul>
              <!-- Список ссылок, расположенный справа -->
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                  <li><a href="/users/profile/">Профиль</a></li>
                  <li><a href="/users/logout/">Выйти</a></li>
              {% else %}
                  <li><a href="/users/login/">Войти</a></li>
                  <li><a href="/users/registration/">Регистрация</a></li>
              {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static "jquery/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "fancybox/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("a.fancyimage").fancybox();
    });
    </script>
</body>

</html>